body {
  margin: 0;
  width: 100vmax;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  background-color: #bd1a8d;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  font-family: sans-serif;
  color: white;
  font-size: 60px;
}

.main img {
  padding-top: 2px;
  height: auto;
  width: 100%;
}
